<!-- Category Navigation -->

<style>
  .containers:hover {
    background-color: white;
    border-radius: 10px;
  }

  .explain {
    background-color: white;
    text-align: center;
    font-size: 11px;
    position: relative;
    float: right;
    font-family: 'SAir';
    padding-top: 5px;
    color: navy;
    text-decoration: none;
    margin: -20px 175px 0px 0px;
  }

  .needtohidden {
    display: none;
  }

  .maintext {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
  }

  @keyframes views {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light" id="cateBar" style="width: 100%; font-size: 13px;">
  <div class="container">

    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#listBarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="margin: -40px auto 10px auto;
      font-family: 'SAir'; font-size: 15px; font-weight: bold; padding-left: 20px; padding-right: 20px; line-height: 70%;">
      게시판 목록

    </button>

    <div class="collapse navbar-collapse" id="listBarResponsive">
      <ul class="navbar-nav ml-auto" style="border: 1px; text-align: center; margin-right: auto !important;">

        <% for (var i=0; i < categories.length; i++) { %>
          <li class="containers alpha" style="font-family:'SAir'; font-size: 13px;
            padding-top: 10px; padding-bottom: 8px; height: auto; font-weight: 500;">

            <a href="/postlist/<%= categories[i]._id %>" style="text-decoration: none !important;">
              <div style="margin-left: 10px;">
                <span class="maintext" style="margin-left: 150px; text-align: right !important;">
                  <% if (categories[i].name.length>= 15) { %>
                    &#9702; &nbsp;<%=categories[i].name.substring(0, 12) + "…" %>&nbsp; &nbsp;
                      <% } else { %>
                        &#9702; &nbsp;<%=categories[i].name%>&nbsp; &nbsp;
                          <% } %>
                </span>
                <span class="explain">
                  &nbsp; &#12304; <%=categories[i].grade%> &#12305; 이상 게시판 &nbsp;</span>



              </div>



            </a>
          </li>
          <% } %>
      </ul>
      <ul class="navbar-nav ml-auto" style="border: 1px; text-align: center; margin-right: auto !important;">
        <li class="containers alpha" style="font-family:'SAir'; font-size: 13px;
        padding-top: 10px; height: auto; font-weight: 500; padding-top: 18px;">
      </ul>
    </div>
  </div>
</nav>

<!-- Category Navigation End -->