<style>
  .containers:hover {
    background-color: white;
    border-radius: 10px;
  }

  .containers:hover .needtohidden {
    padding-top: 5px;
    margin-left: 27px;
    display: block;
    width: fit-content;
    color: navy;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-family: 'SAir';
    animation: views 0.5s;
  }

  .needtohidden {
    display: none;
  }

  .maintext {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes views {
    from { opacity: 0%; }
    to { opacity: 100%; }
  }

</style>

  <div id="leftCate" style="position: sticky; float: left; margin-left: auto;  
margin-right: -10px; width: 250px; height: auto; overflow-y: auto; vertical-align: baseline;
background-color: white; border-right: 1.5px solid #DEE; ">

    <% for (var i=0; i < categories.length; i++) { %>
      <li class="containers alpha" style="font-family:'SAir'; font-size: 13px;
         padding-top: 10px; height: auto; font-weight: 500; padding-top: 18px;">

        <a href="/posts/list/<%= categories[i]._id %>" style="text-decoration: none !important;">
          <div style="text-align: right !important; margin-left: 10px;">
            <span class="maintext" style="margin-left: 10px">
              <% if (categories[i].name.length>= 15) { %>
                &#9702; &nbsp;<%=categories[i].name.substring(0, 12) + "…" %>&nbsp; &nbsp;
                  <% } else { %>
                    &#9702; &nbsp;<%=categories[i].name%>&nbsp; &nbsp;
                      <% } %>
            </span>
          </div>

          <span class="needtohidden">
            &nbsp; &#12304; <%=categories[i].grade%> &#12305; 이상 게시판 &nbsp;
          </span>

        </a>
      </li>
      <% } %>
    </ul>
  </div>


