<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-brand" id="listBar"
    style="width: 100%; margin-bottom: 30px; font-size: 13px;">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#listBarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Category
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="listBarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/new">All posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/1">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/1">Alpha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/2">Beta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/3">Gamma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/4">Delta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/5">Epsilon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/6">Zeta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/7">Eta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/8">Theta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/9">Iota</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/10">Kappa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/11">Lambda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/12">Mu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/13">Nu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/14">Xi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/15">Omicron</a>
                </li>
            </ul>
        </div>
    </div>
</nav>