<!-- UserInfo -->
<nav class="userinfo" id="userInfo">
    <div class="container">
        <div>
            <!-- 자세한 자료구조를 알 수가 없어서 이건 콘솔로 확인한 다음 추가해야 하겠습니다. -->
            <% if(userInfo) { %>
                <div><%= userInfo.name %></div>
            <% } else { %>

            <% } %>
        </div>
    </div>
</nav>
